html, body{
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	font-size: 24px;
	line-height: 1.6;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	min-height: 100%;


}

h1,h2,h3,h4{
	
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	width: 250px;
	
}

h5{

	font-family: 'Playfair Display', serif;
	font-size: 24px;
	display: flex;
	justify-content: center;

}

.container{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: safe center;
	flex-direction: column;
}


.fa-spotify{
	color: rgb(30, 215, 96);
	text-decoration: none;
}
.fa-twitch{
	position: center;
	text-decoration: none;
}
.fa-facebook-square{
	position: center;
	color: rgb(66, 103, 178);
	text-decoration: none;
	
}

.fa-instagram{
	position: center;
	color: rgb(193, 53, 132);
	text-decoration: none;
	
}

.fa-linkedin{
	position: center;
	color: rgb(40, 103, 178);
	text-decoration: none;

  
}

.icons{
	color: inherit;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
	height: auto;
	align-self: center;
	
}

.social-media{
position: relative;
right: 20px;
display: flex;
justify-content: space-between;
}


#photo{
	border-radius: 700px;
	image-rendering: optimizeQuality;
}
.img-square{
	border-radius: 25px;
}

.illustrations{
	position: relative;
	right: 20px;
	width: 1600.6px;
	height: 1575px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	margin: 100px;
	align-self: auto;
	align-content: space-around;
}

.illustrations-left{
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 700px;

}

.illustrations-text-left{
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 393.75px;
width: 700px;

}


.illustrations-right{
text-decoration: none;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 700px;

}

.illustrations-text-right{
text-decoration: none;
display: flex;
flex-direction: flex-end;
align-items: center;
justify-content: center;
height: 393.75px;
width: 700px;

}

.list {
	list-style: none;
	text-decoration: none;


}

@media (max-width: 1200px) {
  
  .container {
    width: 1025px;
  }
}

@media (max-width: 1024px) {
  
  .container {
    width: 769px;
  }
}
@media (max-width: 768px) {
  
  .container {
    width: 481px;
  }
}
@media (max-width: 480px) {
 
  .container {
    width: 320px;
  }
}
