html, body{
	background-color: rgb(230, 230, 230);
	color: rgb(30, 30, 30);
	font-family: 'IBM Plex Sans Thai Looped', sans-serif;
	font-size: 24px;
	line-height: 1.6;
	text-align: center;
	margin: 0;
	padding: 40px;
	overflow-x: hidden;


}

h1,h2,h3,h4{
	
	font-size: 36px;
	font-family: 'Playfair Display', serif;
	width: 250px;
	
}

h5{

	font-family: 'Playfair Display', serif;
	font-size: 24px;
}

.container{

	height: auto;
	width: auto;
	
}

.luxury-box{
	position: relative;
	right: 350px;
	
}
.fashion-box{
	position: relative;
	left: 350px;
	height="393.75"
	
}
.architecture-box{
	position: relative;
	right: 350px;
	height="393.75"


}
.gaming-box{
	position: relative;
	left: 350px;
	top: 50px
}
.fa-spotify{
	position: relative;
	right: 25px;
	width: 5px;
	color: rgb(30, 215, 96);
	text-decoration: none;
	
}
.fa-twitch{
	position: relative;
	left: 25px;
	bottom: 35px;
	width: 5px;
	text-decoration: none;
}
.fa-facebook-square{
	position: relative;
	right: 100px;
	width: 5px;
	color: rgb(66, 103, 178);
	text-decoration: none;
	
}

.fa-instagram{
	position: relative;
	bottom: 50px;
	right: 20px;
	width: 5px;
	color: rgb(193, 53, 132);
	text-decoration: none;
	
}

.fa-linkedin{
	position: relative;
	left:70px;
	bottom: 100px;
	width: 5px;
	color: rgb(40, 103, 178);
	text-decoration: none;

  
}

.fa-brands{
	align-content: space-around;
	text-decoration: none;
	color: inherit;
	
  
}

#photo{
	border-radius: 700px;
	image-rendering: optimizeQuality;
}
.img-square{
	border-radius: 25px;
}

#list {
	list-style: none;
	list-style-position: inside;
	line-height: 23px;
	margin: 0;
	padding: 0;

}

.left-subtitles{
	position: relative;
	left: 68%;
	bottom: 300px;
}

.right-subtitles{
	position: relative;
	left: 13%;
	bottom: 300px;
}

}
@media (max-width: 960px) {
  
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
 
  .container {
    width: 300px;
  }
}
